<div class="content">
    <h1 class="text-primary-emphasis">Редактирование категории расходов</h1>
    <div class="category-actions create d-flex flex-column">
        <label id="inputLabel" class="w-100">
            <input class="category-actions-input form-control" value="Жильё" type="text">
        </label>
        <div class="category-actions-buttons d-flex justify-content-start">
            <button class="btn-save btn-common btn border-0 btn-success">Сохранить</button>
            <button class="btn-cancel btn-common btn border-0 btn-danger">Отмена</button>
        </div>
    </div>
</div>