<div class="content">
    <h1 class="text-primary-emphasis">Доходы</h1>
    <div class="categories d-flex flex-row justify-content-start flex-wrap">
<!--        <div class="category-item card flex-shrink-0">-->
<!--            <div class="category-item-body d-flex flex-column justify-content-between card-body">-->
<!--                <p class="category-title m-0">!!!Депозиты</p>-->
<!--                <div class="category-item-buttons">-->
<!--                    <button class="btn-common btn-edit btn btn-primary">Редактировать</button>-->
<!--                    <button class="btn-common btn-delete btn btn-danger">Удалить</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="category-item card flex-shrink-0">-->
<!--            <div class="category-item-body d-flex flex-column justify-content-between card-body">-->
<!--                <p class="category-title m-0">!!!Зарплата</p>-->
<!--                <div class="category-item-buttons">-->
<!--                    <button class="btn-common btn-edit btn btn-primary">Редактировать</button>-->
<!--                    <button class="btn-common btn-delete btn btn-danger">Удалить</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="category-item card flex-shrink-0">-->
<!--            <div class="category-item-body d-flex flex-column justify-content-between card-body">-->
<!--                <p class="category-title m-0">!!!Сбережения</p>-->
<!--                <div class="category-item-buttons">-->
<!--                    <button class="btn-common btn-edit btn btn-primary">Редактировать</button>-->
<!--                    <button class="btn-common btn-delete btn btn-danger">Удалить</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="category-item card flex-shrink-0">-->
<!--            <div class="category-item-body d-flex flex-column justify-content-between card-body">-->
<!--                <p class="category-title m-0">!!!Инвестиции</p>-->
<!--                <div class="category-item-buttons">-->
<!--                    <button class="btn-common btn-edit btn btn-primary">Редактировать</button>-->
<!--                    <button class="btn-common btn-delete btn btn-danger">Удалить</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="category-item category-item-createNew card flex-shrink-0">
            <p class="createNew-card createNew-card d-flex justify-content-center align-items-center card-body m-0">
                +</p>
        </div>
    </div>
</div>